/* -----------------------------Header--------------------------------- */
.main {
    position: relative;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: var(--white-color);
    height: var(--height-header);
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.1);

    z-index: 10;
}

.h-logo img {
    width: 160px;
}

/* -------Nav------*/
.h-nav {
    height: var(--height-header);
}

.nav-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-item {
    position: relative;
}

.nav-item:hover .subnav {
    display: block;
}

.nav-item--link {
    height: var(--height-header);
    line-height: var(--height-header);
    padding: 0 37px;
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    display: block;
    
}

.nav-item--link:hover ,.subnav-item--link:hover {
    color: var(--primary-color);
}

/* ----SubNav-- */

.subnav {
    position: absolute;
    left: 0;
    top: 100%;
    padding:30px 38px;
    overflow: hidden;
    width: 240px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);

    animation: dropDown ease-in 0.5s;
    display: none;

}

.subnav-item--link {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.5rem;
    padding: 10px 0;
    display: block;
   
}

/* --End SubNav-- */

/* -------End Nav------*/


/* -------Header Right------*/

.h-right {
    height: var(--height-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-cart , .right-search , .right-bar ,.right-user  {
    height: var(--height-header);
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 2.8rem;
}

.right-cart:hover , .right-search:hover , .right-bar:hover ,.right-user:hover{
    color: var(--primary-color);
    cursor: pointer;
}

.right-user {
    padding: 0 30px;
}

.right-cart {
    position: relative;
}

.right-cart:hover .cart-notify {
    display: block;
}
.cart-notify {
    position: absolute;
    right: 0;
    top: 100%;
    background-color: var(--white-color);
    width: 220px;
    padding: 20px;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    animation: dropDown ease-in-out 0.4s;
    display: none;
    color: var(--text-color);
}

.cart-notify span {
    font-size: 1.6rem;
}


/* -------End Header Right------*/

/*-- Modal Login-Reginter --*/
.login , .register {
    width: 500px;
    background-color: var(--primary-color);
    display: none; 
}

.register {
    padding-bottom: 5px;
}


.login-header  , .register-header{
    display: flex;
    width: 100%;
    height: 60px;
}

.login-header--login , .login-header--register ,
.register-header--login , .register-header--register{
    width: 50%;
    line-height: 60px;
    text-align: center;
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.login-header--login:hover, .login-header--register:hover ,
.register-header--login:hover , .register-header--register:hover {

    cursor: pointer;
    opacity: 0.8;
}

.login-header--login ,.register-header--register {
    background-color: #3ABDC1;
}


.login-center , .register-center{
    margin: 40px 30px 70px;
}

.login-center--title , .register-center--title{
    color: var(--white-color);
    font-size: 2.2rem;
    font-weight: 600;
}

.login-center--des ,.register-center--des {
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    margin: 20px 0 30px 0;
}

.login-center--user,
.login-center--password ,
.register-center--user,
.register-center--email ,
.register-center--password,
.register-center--repeartpassword {
    display: flex;
    align-items: center;
    width: 440px;
    height: 50px;
    background-color: #6fdcdf;
    margin-bottom: 10px;
    
}

.login-center--user i,
.login-center--password i ,
.register-center--user i,
.register-center--email i,
.register-center--password i,
.register-center--repeartpassword i{
    font-size: 2rem;
    color: var(--white-color);
    padding: 0 10px;
}

.login-center--user input,
.login-center--password input,
.register-center--user input,
.register-center--email input,
.register-center--password input,
.register-center--repeartpassword input
{
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 0 10px;
    border: none;
    outline: none;
    height: 50px;
    width: 400px;
}

.register-center--repeartpassword {
    margin-bottom: 40px;
}

.login-center--checked {
    margin: 30px 0 50px 0;
    display: flex;
    align-items: center;
    
}

.login-center--checked input {
    width: 18px;
    height: 18px;
    margin-right: 20px;
    padding: 30px;
}

.login-center--checked span {
    font-size: 1.6rem;
    color: var(--white-color);
}

.login-center--button ,
.register-center--button
{
    background-color: var(--white-color);
    color: var(--primary-color);
    width: 440px;
    height: 50px;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
}


.login-fotter {
    display: flex;
    width: 100%;
    height: 60px;
}

.login-fotter-facebook, .login-fotter-google {
    width: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--white-color);
}

.login-fotter-facebook {
    background-color: #3B5998;
}
.login-fotter-google {
    background-color: #dd4b39;
}

/*-- End Modal Login-Reginter --*/

/*--  Modal Login-Search --*/
.box-search {
    width: 900px;
    height: 70px;
    display: flex;
}

.box-search input {
    width: 75%;
    height:100%;
    font-size: 1.8rem;
    padding-left: 30px;
    border: none;
    outline: none;
}

.box-search button {
    width: 25%;
    height: 100%;
    border: none;
    background-color: #00c4d6;
}

/*-- End  Modal Login-Search --*/


/* -- Box Bars -- */

.box-bars {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    background-color: var(--white-color);
    padding: 50px 50px;
    opacity: 0.5;
    overflow-y: auto;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
    transition: transform ease-in 0.5s;
    z-index: 10;
}

.box-bars::-webkit-scrollbar {
    display: none;
}


.bar_input:checked ~ .box-bars{
    transform: translateX(0%);
    opacity: 1;
}

.bar_input:checked ~ .overlay {
    display: block;
}

.box-bars--close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
}

.box-bars span {
    font-size: 1.6rem;
    margin: 20px 0;
    text-align: center;
}

.box-bars h3 {
    font-size: 1.8rem;
}

.box-bars-search {
    margin: 20px 0;
    display: flex;
    width: 200px;
    height: 30px;
}

.box-bars-search input {
    width: 80%;
    height: 100%;
    border: none;
    background-color: rgb(243, 242, 242);
    outline: none;
}

.box-bars-search button {
    width: 20%;
    border: none;
    background-color: var(--primary-color);
}

.box-bars-search button i {
    font-size: 1.5rem;
    color: var(--white-color);
}

.box-bars--icons {
    display: flex;
    align-items: center;
}

.icons-item {
    width: 40px ;
    height: 40px;
    background-color: var(--primary-color);
    margin: 10px 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons-item i {
    color: var(--white-color);
    font-size: 1.6rem;
}


/* -- End Box Bars -- */

/* -----------------------------End Header--------------------------------- */

/* -----------------------------Container--------------------------------- */

.container {
    margin-top: var(--height-header);
}

/* ----------Slide -------- */
.slider-tour {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
}

.slider-item {
    display: none;
}

.slider-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    animation: zoomImg linear 5s;
}

/* Phan nut Prev , Next */
.prev-slider , .next-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
}

.next-slider {
    right: 20px;
}

.prev-slider {
    left: 20px;
}

.prev-slider i , .next-slider i {
    font-size: 4.5rem;
    color: var(--primary-color);
}

.prev-slider:hover , .next-slider:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* End phan Next, Prev */

.slider-text {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    text-align: center;
    color: var(--white-color);                                                                                                                                                                  
}

.slider-text--heading {
    display: block;
    line-height: 5rem;
    font-family: Satisfy, cursive;
    font-size: 5rem;
    font-weight: 300;
    animation: slideUp linear 1s;
}

.slider-text--center {
   font-size: 10rem;
   line-height: 14rem;
   font-weight: 600;
   animation: slideUp linear 1.5s;
}

.slider-text--footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-weight: 500;
    animation: slideUp linear 2s;
    line-height: 3rem;
    
}

/* ---------------End Slide------------------- */

/* -------------Tour List---------------- */

.tour-list {
    width: 100%;
    height: 400px;
    margin: 20px 0;
    
}

.tour-item {
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: var(--white-color);
    margin: 5px;
}


.tour-heading {
    height: 220px;
    width: 100%;
    overflow: hidden;
}
.tour-heading--img {
    height: 80%;
    width: 100%;
    overflow: hidden;
}
.tour-heading--img img {
    width: 100%;
    height: 100%;
}

.tour-heading--img img:hover {
    transform: scale(1.1);
    transition: transform  ease-in 0.6s;
}

.tour-heading--box {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
}

.tour-heading--box span {
    color: var(--white-color);
    font-size: 1.5rem;
}


.tour-text {
    height: 180px;
    padding: 30px 30px 0;
}

.tour-text--heading {
    font-size: 2rem;
    line-height: 4rem;
}

.tour-text-des {
    font-size: 1.4rem;  
    color: var(--text-color);

}

.tour-text--rate {
    font-size: 1.4rem;
    font-weight: 600;
    display: flex;
    margin-top: 10px;
}

.tour-text--rate span{
    margin-right: 10px;
}

/* -------------End Tour List---------------- */


/* -------------View Videp---------------- */

.view-video {
    margin-top: 50px;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.view-title {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: var(--primary-color);
    line-height: 4rem;
}

.view-name {
    font-size: 7rem;
    font-weight: 600;
    line-height: 10rem;
    margin-bottom: 40px;
}

.view-des {
    margin: 30px 0;
    width: 800px;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--text-color);
    line-height: 2rem;
    text-align: center;
    
}

.btn-view {
    width: 220px;
    height: 60px;
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-color);
    border: none;
}

/* -------------End View Video---------------- */

/* -------Top reivews------------- */

.top-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 100%;
    padding: 120px 0;
    background : url("../img/places/skiing-parallax-1.jpg") no-repeat fixed top center/cover;
}

.top-reviews--title {
    color: var(--white-color);
    font-size: 7rem;
    font-weight: 600;
    line-height: 12rem;
}

.top-reviews--des {
    color: var(--white-color);
    font-size: 1.6rem;
    line-height: 2rem;
    text-align: center;
    width: 460px;
    margin-bottom: 50px;

}
.top-reviews--comments {
    width: 100%;
    height: 240px;
}

.comment-item {
    height: 240px !important;
    margin: 0 5px;
    background-color: var(--white-color);
    display: flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.comment-item--img img {
    width: 100px;
    margin-right: 30px;
}


.comment-item-name {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 5rem;
}

.comment-item--rate i {
    font-size: 2rem;
    color: var(--primary-color);
}

.comment-item--comment {
    margin-top: 20px;
    font-size: 1.4rem;
    line-height: 2rem;
}

/* -------End Top reivews------------- */


/* ----------Winter Holiday---------- */

.winter-holiday {
    margin: 100px 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.holiday-title {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: var(--primary-color);
    line-height: 4rem;
}

.holiday-name {
    font-size: 7rem;
    font-weight: 600;
    line-height: 10rem;
}

.holiday-des {
    font-size: 1.7rem;  
    color: #676A69;
    width: 600px ;
    text-align: center;
    line-height: 2.4rem;
    margin-bottom: 50px;
}

.holiday-list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.holiday-item {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 50px;

}

.holiday-item--img img {
    width: 78px;
    height: 78px;
    object-fit: contain;

}

.holiday-item--img:hover {
    transform: translateY(-20%);
    transition: transform ease-in-out 0.5s;
}

.holiday-item--name {
    line-height: 4rem;
    font-size: 2rem;
    color: var(--text-color);
    font-weight: 600;

}

.holiday-item-des {
    font-size: 1.4rem;
    color: var(--text-color);
    color: #676A69;
    text-align: center;


}


/* ----------End Winter Holiday---------- */

.achievements {
    width: 100%;
    height: 750;
}

.achievements-user {
    width: 100%;
    height: 500px;
}

.achievements-user--item {
    height: 100%;
    position: relative;
}

.achievements-user--item img {
    height: 500px;
    width: 100%;
}

.achievements-user--infor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 180px;
    background-color: var(--primary-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    transform: translateY(100%);
    transition: all ease-in 0.5s;
    opacity: 0;
}

.achievements-user--item:hover .achievements-user--infor {
    transform: translateY(0%);
    opacity: 1;
}


.user-name {
    font-size: 2rem ;
    font-weight: 600;
    line-height: 4rem;
}

.user-des {
    font-size: 1.4rem ;
    line-height: 2rem;
}

.user-social {
    display: flex;
    align-items: center;
}

.user-social i {
    font-size: 1.6rem;
    margin: 10px;
}

.achievements-time {
    height: 250px;
    background-color: #3abdc1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: var(--white-color);
    text-align: center;

}

.time-item h1{
    font-size: 6rem;
    line-height: 10rem;
}

.time-item span {
    font-size: 2rem;

}

/*- ------ Winter Resort -----*/

.winter-resort {
    margin: 100px 0;
    background-color: var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resort-title {
    font-size: 3rem;
    font-family: 'Satisfy', cursive;
    color: var(--primary-color);
    line-height: 4rem;
}

.resort-name {
    font-size: 7rem;
    font-weight: 600;
    line-height: 12rem;
}

.resort-des {
    font-size: 1.7rem;  
    color: #676A69;
    width: 600px ;
    text-align: center;
    line-height: 2.4rem;
    margin-bottom: 50px;
}

.resort-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resort-item {
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resort-item--name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    left: 0;
    text-align: center;


    font-size: 4rem;
    font-family: Satisfy, cursive;
    color: var(--white-color);
    z-index: 2;

}

.resort-item--img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);    

}

.resort-item--img {
    position: relative;
    height: 360px;
    width: 360px;
    border-radius: 50%; 
    overflow: hidden;
    box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3);

}

.resort-item--img img {
    height: 360px;
    width: 360px;
    object-fit: cover;
}

.resort-item:hover .resort-item--img img{
    transform: scale(1.1);
    transition: transform  ease-in 0.6s;
}

/*- ------ End Winter Resort -----*/



/* -----------------------------End Container--------------------------------- */



/* ==================== Footer ============= */

.footer {
    width: 100%;
    height: 500px;
    background-color: black;

}